html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.coverImage {
  width: 100%;
  border-radius: 2%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.coverCard{
  background-color: rgba(0,0,0, 0.3);
}

.coverText{
  color: rgba(255,255,255, 0.65)
}

.icon{
  height: 60px;
}

.button-label:hover{
  cursor: pointer;
}

.button-label{
  display: flex;
  padding: 4px;
}

.posts-form{
  display: flex;
  flex-direction: column;
  width:100%;
}

.posts-form > *{
  margin-bottom: 10px;
}

.footer-modal{
  width: 100%;
  height: 100%;
  color: grey;
  text-decoration: none;
}

.hidden-card-feature{
  visibility: hidden;
}

.news-feed-card:hover{
  cursor: pointer;
}