html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(198, 219, 197);
}

a {
  color: inherit;
}

.icon {
  height: 60px;
}

.button-label:hover {
  cursor: pointer;
}

.button-label {
  display: flex;
  padding: 4px;
}

.posts-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-form > * {
  margin-bottom: 10px;
}

.footer-modal {
  width: 100%;
  height: 100%;
  color: grey;
  text-decoration: none;
}

.hidden-card-feature {
  visibility: hidden;
}

.news-feed-card:hover {
  cursor: pointer;
}
