html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img{
  width: inherit;
  height: inherit;
}

.coverImage {
  z-index: 0;
  object-fit: cover;
}

.icon{
  width: 48px;
  height: 48px;
}